<a href="https://colab.research.google.com/github/topcat101-cmd/Nids-using-TranferLearning/blob/main/Nids_intrusion_detection_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
import pandas as pd
import numpy as np
import tensorflow.keras as tfk
#-------------------------------------------
import tensorflow as tf
#------------------------------------------
from sklearn.preprocessing import (StandardScaler, OrdinalEncoder,LabelEncoder, MinMaxScaler, OneHotEncoder)
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import Normalizer, MaxAbsScaler , RobustScaler, PowerTransformer
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
path = 'drive/My Drive/Dataset/NSL-KDD' #The path to the drive, of where the datasets lay.
train = (path+ '/KDDTrain+.txt')
test = (path+ '/KDDTest+.txt')

#Displays the features included for the algorinm
feature_included=["duration","protocol_type","service","flag","src_bytes","dst_bytes","land","wrong_fragment","urgent","hot",
          "num_failed_logins","logged_in","num_compromised","root_shell","su_attempted","num_root","num_file_creations","num_shells",
          "num_access_files","num_outbound_cmds","is_host_login","is_guest_login","count","srv_count","serror_rate","srv_serror_rate",
          "rerror_rate","srv_rerror_rate","same_srv_rate","diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count", 
          "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate","dst_host_srv_diff_host_rate","dst_host_serror_rate",
          "dst_host_srv_serror_rate","dst_host_rerror_rate","dst_host_srv_rerror_rate","label","difficulty"]

#The Variable() constructor requires an initial value for the variable, which can be a Tensor of any type and shape. 
#This initial value defines the type and shape of the variable. After construction, 
#the type and shape of the variable are fixed. The value can be changed using one of the assign methods.

protocol_types=tf.Variable(['tcp','udp','icmp'],  tf.string)

services_types=tf.Variable(['http','smtp','finger','domain_u','auth','telnet','ftp','eco_i','ntp_u','ecr_i','other','private','pop_3','ftp_data',
                  'rje','time','mtp','link','remote_job','gopher','ssh','name','whois','domain','login','imap4','daytime','ctf','nntp',
                  'shell','IRC','nnsp','http_443','exec','printer','efs','courier','uucp','klogin','kshell','echo','discard','systat',
                  'supdup','iso_tsap','hostnames','csnet_ns','pop_2','sunrpc','uucp_path','netbios_ns','netbios_ssn','netbios_dgm',
                  'sql_net','vmnet','bgp','Z39_50','ldap','netstat','urh_i','X11','urp_i','pm_dump','tftp_u','tim_i','red_i','icmp',
                  'http_2784','harvest','aol','http_8001'],  tf.string)

binary_attacks=tf.Variable(['normal','ipsweep', 'nmap', 'portsweep','satan', 'saint', 'mscan','back', 'land', 'neptune', 'pod', 'smurf',
               'teardrop', 'apache2', 'udpstorm', 'processtable','mailbomb','buffer_overflow', 'loadmodule', 'perl', 'rootkit',
               'xterm', 'ps', 'sqlattack','ftp_write', 'guess_passwd', 'imap', 'multihop','phf', 'spy', 'warezclient',
               'warezmaster','snmpgetattack','named', 'xlock', 'xsnoop','sendmail', 'httptunnel', 'worm', 'snmpguess'] ,  tf.string)

# Dictionary that contains mapping of various attacks to the four main categories
#https://www.researchgate.net/figure/Attack-types-of-DoS-R2L-U2R-Probe-categories_tbl1_327110465

multiclass_attack={ 'normal': 'normal',
        'probe': ['ipsweep.', 'nmap.', 'portsweep.','satan.', 'saint.', 'mscan.'], #Probing attacks
        'dos': ['back.', 'land.', 'neptune.', 'pod.', 'smurf.','teardrop.', 'apache2.', 'udpstorm.', 'processtable.','mailbomb.'], #Denial of Service
        'u2r': ['buffer_overflow.', 'loadmodule.', 'perl.', 'rootkit.','xterm.', 'ps.', 'sqlattack.'], #User to Root attack
        'r2l': ['ftp_write.', 'guess_passwd.', 'imap.', 'multihop.','phf.', 'spy.', 'warezclient.', 'warezmaster.','snmpgetattack.', #Root to local attacks
                   'named.', 'xlock.', 'xsnoop.','sendmail.', 'httptunnel.', 'worm.', 'snmpguess.']}
#multiclass attack, which has a list within a dictornary for the attacks.

In [ ]:
train_data=pd.read_csv(train,names=feature_included) #Read a comma-separated values (csv) file into DataFrame.
test_data=pd.read_csv(test,names=feature_included)#Read a comma-separated values (csv) file into DataFrame.
print(train_data.head()) #prints out the data frame

#--------------------------------------------------------------------------------------------------
#DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. -
#You can think of it like a spreadsheet or SQL table, or a dict of Series objects.                -
#It is generally the most commonly used pandas object                                             -
#https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html                             -
#--------------------------------------------------------------------------------------------------

#x_data = train_data.pop('protocol_type') #Gives me the entrys of protocol_type
print(train_data.loc[255]) #prints out the data frame ----- #loc allows you to find a specific row in your dataframe, giving the index

In [7]:
train_data.head() #puts it out in a graph

   duration protocol_type  ...    label difficulty
0         0           tcp  ...   normal         20
1         0           udp  ...   normal         15
2         0           tcp  ...  neptune         19
3         0           tcp  ...   normal         21
4         0           tcp  ...   normal         21

[5 rows x 43 columns]

In [8]:
train_data.describe()#gives us diffrent calculation in a chart, such as count, mean, std, min, etc..

           duration     src_bytes  ...  dst_host_srv_rerror_rate     difficulty
count  125973.00000  1.259730e+05  ...             125973.000000  125973.000000
mean      287.14465  4.556674e+04  ...                  0.120240      19.504060
std      2604.51531  5.870331e+06  ...                  0.319459       2.291503
min         0.00000  0.000000e+00  ...                  0.000000       0.000000
25%         0.00000  0.000000e+00  ...                  0.000000      18.000000
50%         0.00000  4.400000e+01  ...                  0.000000      20.000000
75%         0.00000  2.760000e+02  ...                  0.000000      21.000000
max     42908.00000  1.379964e+09  ...                  1.000000      21.000000

[8 rows x 39 columns]

In [9]:
train_data.shape # we have so many rows and so many columns

(125973, 43)

In [10]:
#https://www.auditmypc.com/tcp-port-8001.asp #https://github.com/mahbubhimel/Intrusion-Detection-System-Using-Convolutional-Neural-Network/blob/main/CNN_Intrusion_Detection.ipynb

In [ ]:
def bar_graph(feature):
  train_data[feature].value_counts().ploy(kind="bar")